<div style= "width: 100%; height: auto;"><img src="http://45.76.167.95:1337/images/headerPlantilla.png" width="100%"/></div>
<br/>
<p>Estimado usuario esta es una notificación del Sistema BHI Viajes.</p>
<br/>
<p><%=msg%></p>

