<div style= "width: 100%; height: auto;"><img src="http://45.76.167.95:1337/images/headerPlantilla.png" width="100%"/></div>
<br/>
<p>Recibe esto porque usted (u otra persona) ha solicitado el restablecimiento de la contraseña de su cuenta.</p>
<br/>
<p>Haga clic en el siguiente enlace o péguelo en su navegador para completar el proceso:</p>
<p> <%=Pass%> </p>
<br/>
<p>Si no solicitó esto, ignore este correo electrónico y su contraseña permanecerá sin cambios.</p>

