<p>Recibe esto porque usted (u otra persona) ha solicitado el restablecimiento de la contraseña de su cuenta.</p>
<br/>
<p>Haga clic en el siguiente enlace o péguelo en su navegador para completar el proceso:</p>
<br/>
<p> <%=Pass%> </p>
<br/>
<p>Si no solicitó esto, ignore este correo electrónico y su contraseña permanecerá sin cambios.</p>

