<div style= "width: 100%; height: auto;"><img src="http://45.76.167.95:1337/images/headerPlantilla.png" width="100%"/></div>
<br/>
<p>Hola <%=msg%></p>
<br/>
<p>Hemos recibido su reserva. Ante cualquier duda o consulta comunicarse vía mail a info@bhiviajes.com.ar o bhiviajesturismo@gmail.com
</p>
<br/>
<p>Muchas gracias. Saludos cordiales.</p>
