<p>Su contrase침a ha sido cambiada exitosamente</p>
<br/>
<p>Para ingresar en el sitio utilice las siguientes credenciales:</p>
<br/>
<br/>
<p>Usuario: <%=User%></p>
<br/>
<p>Contrase침a : <%=Pass%></p>
<br/>
<li><a>Para inciar sesi칩n visite la siguiente direcci칩n </a></li>
<h1><a href="http://localhost:1337/api/user/login"></a></h1>